<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--ye name ki value model attribute se aa rhi hai-->
  <h1 th:text="${name}"></h1>

<!--  this with is used to declare local variables inside html element-->
   <div th:with="a=5,b=67,n=${name}">
       <h1>value of a is <span th:text="${a}"></span></h1>

   </div>
</body>
</html>