<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<!--esa krne se y footer ek fragment bn gaya footer2 naam ka ab is fragment ko koi bhi use kr skta hai and usme content paas kr skta hai just like
methos parameter-->

<footer th:fragment="footer2(title)">
  <div class="container" >
    <h1 th:text="${title}"></h1>
    <h1>About shrey saxena</h1>
    <h2>java developer</h2>
    <h2>tech enthusiast</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae commodi consequuntur debitis deserunt dolore doloribus ea pariatur quia repudiandae vitae. Aspernatur assumenda excepturi impedit labore magnam minus perferendis quas quasi, quisquam velit.</p>
  </div>
</footer>
</body>
</html>