<!DOCTYPE html>

<!--we are going to insert this page in base.html's content. toh pehle section banaya and then ye likho-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        this is about section

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid asperiores dignissimos est harum impedit
        in, molestiae mollitia necessitatibus pariatur perspiciatis porro saepe temporibus voluptatibus voluptatum? Accusantium
        ipsa molestiae quasi.
    </section>
</body>
</html>